html, body, #workspace {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
    overflow: hidden;
    
    --black-1: rgb(35, 35, 35);
    --black-2: rgb(60, 60, 60);
    --gray: rgba(70, 70, 70);
    --white: rgb(204, 204, 204);
    
    /* Gender colors */
    /* --agender-1 is --black-1 */
    /* --agender-2 is --black-2 */
    --agender-3: rgb(12, 12, 12);
    --male-1: rgb(0, 80, 170);
    --male-2: rgb(120, 170, 255);
    --male-3: rgb(10, 60, 120);
    --female-1: rgb(255, 120, 250);
    --female-2: rgb(255, 188, 253);
    --female-3: rgb(255, 50, 250);
}
* {
    touch-action: none;
}
#workspace {
    width: 100%;
    height: 100%;
    overflow: visible;
    /* DEBUG */
    /* border: 2px solid red; */

    --pos-x: 0;
    --pos-y: 0;
    --scale: 1;

    transform: scale(var(--scale)) translate(
        calc(var(--pos-x)  * 1px),
        calc(var(--pos-y) * 1px)
        );
}

.hidden {
    display: none;
}
#context-menu.show {
    position: absolute;
    overflow: hidden;

    display: flex;
    flex-flow: column wrap;
    align-content: center;

    background-color: var(--black-1);
    border-radius: 0.6em;
}
#context-menu.show button {
    background-color: var(--black-1);
    color: var(--white);
    border: none;
    font-weight: 300;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    gap: 0.4em;
    display: flex;
    padding: 0.6em;
    text-align: left;
    cursor: pointer;
}
#context-menu.show button:hover {
    background-color: var(--black-2);
    color: white;
}
#context-menu.show hr {
    width: 90%;
    margin: 2px auto 2px auto;
    border-color: var(--gray);
}
#gender-menu.show hr, #edit-relationship fieldset>hr {
    width: 0 !important;
    margin: 0 !important;
    border-color: var(--white) !important;
}

#gender-menu.show {
    left: 0px;
    top: 0px;

    position: absolute;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    --pos-x: 0;
    --pos-y: 0;

    transform: translate(
        calc(var(--pos-x)  * 1px),
        calc(var(--pos-y) * 1px)
        );
}
#gender-menu-buttons, #parent-relationship-buttons, #child-relationship-buttons {
    border: none;
    border-radius: 0.6em;
    overflow: hidden;

    display: flex;
    margin: 0;
    padding: 0;

    justify-content: space-evenly;

    background-color: var(--black-1);
}
#gender-menu-buttons input, #parent-relationship-buttons input, #child-relationship-buttons input  {
    display: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}
#gender-menu-buttons label, #parent-relationship-buttons label, #child-relationship-buttons label  {
    display: block;
    padding: 0.2em;

    font-weight: 300;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
#parent-relationship-buttons label, #child-relationship-buttons label  {
    font-size: 1em;
    padding: 0.4em 0.8em 0.4em 0.6em;
}
#parent-relationship-buttons, #child-relationship-buttons {
    width: max-content;
}
#agender+label, #edit-relationship input+label {
    background-color: var(--black-1);
    color: var(--white);
}
#agender:hover+label, #edit-relationship input:hover+label {
    background-color: var(--black-2);
    color: rgb(240, 240, 240);
    cursor: pointer;
}
#agender:checked+label, #edit-relationship input:checked+label {
    background-color: var(--agender-3);
    color: rgb(180, 180, 180);
}
#male+label {
    background-color: var(--male-1);
    color: white;
}
#male:hover+label {
    background-color: var(--male-2);
    color: rgb(0, 0, 90);
    cursor: pointer;
}
#male:checked+label {
    background-color: var(--male-3);
    color: rgb(204, 240, 240);
}
#female+label {
    background-color: var(--female-1);
    color: rgb(0, 0, 75);
}
#female:hover+label {
    background-color: var(--female-2);
    color: rgb(28, 28, 127);
    cursor: pointer;
}
#female:checked+label {
    background-color: var(--female-3);
    color: black;
}
#gender-menu-buttons input:checked:hover+label, #edit-relationship input:checked:hover+label {
    cursor: default;
}
#gender-menu-buttons input[type=checkbox] + label, #gender-menu-buttons input[type=checkbox] + label i {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}

#edit-relationship, #edit-relationship>div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 0.5em;
}
#edit-relationship>div , #edit-relationship select{
    background-color: var(--black-1);
    color: var(--white);
    border: none;
    font-weight: 300;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.6em;
    text-align: center;
}
#edit-relationship select {
    background-color: var(--black-2);
    border-radius: 0.5em;
    width: 100%;
    cursor: pointer;
    text-align: left;
}

#trash-can, #help, #save-and-load {
    position: fixed;
}
#trash-can, #help {
    top: 0;
}
#trash-can, #help-icon, #save, #load {
    padding: 1em;
    aspect-ratio: 1/1;
    width: min-content;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.2s;
    transition-timing-function: ease-in;
}
#trash-can {
    right: 0;
    pointer-events: none;
}

#help {
    pointer-events: none;
}
#help-icon{
    pointer-events: auto;
}
#trash-can i, #help-icon i, #save-and-load i {
    display: block;
    font-size: 4em;
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}
#help-icon:hover, #save:hover, #load:hover {
    color: rgba(255, 255, 255, 0.4);
}
#help-icon:hover~#help-text, #help-text:hover {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
#help-text {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    touch-action: auto;
    transition: visibility 0.2s, opacity 0.2s;
    padding: 1em;
    width: 32em;
    max-width: 90vw;
    height: auto;
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: 1em;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: var(--black-1);
    color: var(--white);
}
#help-text h2, #help-text h3, #help-text p {
    margin: 0.2em 0;
}
#help-text * {
    pointer-events: none;
}

#save-and-load {
    bottom: 0;
    right: 0;
}
#load {
    display: block;
}
#save:hover, #load:hover {
    cursor: pointer;
}

#graph, .family, .parents, .children {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* DEBUG */
    /* border: 2px solid cyan; */
}

#graph {
    width: 100%;
    height: 100%;
}

.family {
    flex-direction: column;
    gap: 10em;
}

.parents, .children {
    gap: 2em;
}

.children {
    align-items: flex-start;
}

.person {
    white-space: nowrap;
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    border: none;
    transition: box-shadow 0.2s;
    transition-timing-function: ease-in;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black-1);
    cursor: pointer;
}
.person.agender {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, var(--gray));
}
.person.male {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, var(--male-2));
}
.person.female {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, var(--female-2));
}
.person:focus-within {
    box-shadow: 0px 0px 0.4em var(--white) inset;
}
.person.selected:focus-within {
    box-shadow: 0px 0px 0.4em var(--white) inset, 0px 0px 1em var(--white);
}
.person.selected{
    box-shadow: 0px 0px 1em var(--white);
}

.name {
    display: block;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    color: var(--white);
    font-size: 2em;
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}
.name, .relationship {
    text-shadow: 0px 0px 10px var(--black-1), 0px 0px 10px var(--black-1), 0px 0px 10px var(--black-1);
}
.name:focus {
    outline: none;
}
.name[placeholder]:empty:before {
    content: attr(placeholder);
}

.name[placeholder]:empty:focus:before {
    content: "";
}
.name::selection, #trash-can i::selection {
    background-color: transparent;
}
.name:focus::selection {
    background-color: rgb(50, 50, 255);
}

.relationship {
    position: absolute;
    margin: 0;
    margin-top: 0.3em;
    display: block;

    color: var(--white);
    font-weight: 300;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
}

.point {
    background-color: white;
    border-radius: 50%;
    
    --pos-x: 0;
    --pos-y: 0;
    --scale: 1;

    transform: scale(var(--scale)) translate(
        calc(var(--pos-x)  * 1px),
        calc(var(--pos-y) * 1px)
        );
}