html, body, .workspace {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
    overflow: hidden;
}
#workspace {
    width: 100%;
    height: 100%;
    border: 1px solid red;

    --pos-x: 0;
    --pos-y: 0;
    --scale: 1;

    transform: scale(var(--scale)) translate(
        calc(var(--pos-x)  * 1px),
        calc(var(--pos-y) * 1px)
        );
}

#context-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;

    display: flex;
    flex-flow: column wrap;
    align-content: center;

    background-color: rgb(35, 35, 35);
    border-radius: 0.6em;
}
#context-menu button {
    padding: 0;
    background-color: rgb(35, 35, 35);
    color: rgb(204, 204, 204);
    border: none;
    font-weight: 300;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 0.6em;
    text-align: left;
}
#context-menu button:hover {
    background-color: rgb(60, 60, 60);
    color: white;
}
#context-menu hr {
    width: 85%;
    margin: 2px auto 2px auto;
    border-color: rgba(70, 70, 70);
}

.graph, .family, .parents, .children {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid cyan;
}

.graph {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.family {
    flex-direction: column;
    gap: 10em;
}

.parents, .children {
    gap: 2em;
}

.children {
    align-items: flex-start;
}

.person {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid white;
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 46, 46);
}
.name {
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    color: white;
    font-size: 2em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.point {
    background-color: white;
    border-radius: 50%;
    
    --pos-x: 0;
    --pos-y: 0;
    --scale: 1;

    transform: scale(var(--scale)) translate(
        calc(var(--pos-x)  * 1px),
        calc(var(--pos-y) * 1px)
        );
}