html, body, .workspace {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
    overflow: hidden;

    --black-1: rgb(35, 35, 35);
    --black-2: rgb(60, 60, 60);
    --gray: rgba(70, 70, 70);
    --white: rgb(204, 204, 204);
}
#workspace {
    width: 100%;
    height: 100%;
    border: 1px solid red;

    --pos-x: 0;
    --pos-y: 0;
    --scale: 1;

    transform: scale(var(--scale)) translate(
        calc(var(--pos-x)  * 1px),
        calc(var(--pos-y) * 1px)
        );
}

.hidden {
    display: none;
}
#context-menu.show {
    position: absolute;
    overflow: hidden;

    display: flex;
    flex-flow: column wrap;
    align-content: center;

    background-color: var(--black-1);
    border-radius: 0.6em;
}
#context-menu.show button {
    background-color: var(--black-1);
    color: var(--white);
    border: none;
    font-weight: 300;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 0.6em;
    text-align: left;
    cursor: pointer;
}
#context-menu.show button:hover {
    background-color: var(--black-2);
    color: white;
}
#context-menu.show hr {
    width: 90%;
    margin: 2px auto 2px auto;
    border-color: var(--gray);
}
#gender-menu.show hr {
    margin: 0;
    border-color: var(--white);
}
#gender-menu.show {
    left: 0px;
    top: 0px;

    position: absolute;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;   
}
#gender-menu-buttons {
    border: none;
    border-radius: 0.6em;
    overflow: hidden;

    display: flex;
    margin: 0;
    padding: 0;

    flex-flow: row wrap;
    justify-content: space-evenly;


    background-color: var(--black-1);
}
#gender-menu-buttons input {
    display: none;
}
#gender-menu-buttons label {
    display: block;
    padding: 0.2em;

    font-weight: 300;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}
#neutral:hover+label {
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
}
#neutral:checked+label {
    background-color: rgb(12, 12, 12);
    color: rgb(180, 180, 180);
}
#male+label {
    background-color: rgb(0, 80, 170);
    color: white;
}
#male:hover+label {
    background-color: rgb(120, 170, 255);
    color: rgb(0, 0, 90);
}
#male:checked+label {
    background-color: rgb(10, 60, 120);
    color: rgb(204, 240, 240);
}
#female+label {
    background-color: rgb(255, 120, 250);
    color: rgb(0, 0, 75);
}
#female:hover+label {
    background-color: rgb(255, 188, 253);
    color: rgb(28, 28, 127);
}
#female:checked+label {
    background-color: rgb(255, 50, 250);
    color: black;
}

#graph, .family, .parents, .children {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: 1px solid cyan; */
}

#graph {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.family {
    flex-direction: column;
    gap: 10em;
}

.parents, .children {
    gap: 2em;
}

.children {
    align-items: flex-start;
}

.person {
    padding: 0.2em 0.4em 0.2em 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0.5em;
    border: none;
    transition: box-shadow 0.2s;
    transition-timing-function: ease-in;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black-1);
    cursor: pointer;
}
.person:focus-within {
    box-shadow: 0px 0px 0.4em var(--white) inset;
}
.person.selected:focus-within {
    box-shadow: 0px 0px 0.4em var(--white) inset, 0px 0px 1em var(--white);
}
.person.selected{
    box-shadow: 0px 0px 1em var(--white);
}

.name {
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    color: var(--white);
    font-size: 2em;
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}
.name:focus {
    outline: none;
}
.name[placeholder]:empty:before {
    content: attr(placeholder);
}

.name[placeholder]:empty:focus:before {
    content: "";
}
.name::selection {
    background-color: transparent;
}
.name:focus::selection {
    background-color: rgb(50, 50, 255);
}

.point {
    background-color: white;
    border-radius: 50%;
    
    --pos-x: 0;
    --pos-y: 0;
    --scale: 1;

    transform: scale(var(--scale)) translate(
        calc(var(--pos-x)  * 1px),
        calc(var(--pos-y) * 1px)
        );
}